<!-- Jumbotron Header -->
<header class="jumbotron hero-spacer background-jumbo">
  <h1>My Happy Place</h1>
  <p>Create your own happy place to help manage your stress levels and anxiety at work.</p>
</header>

<hr>

<!-- Title -->
<div class="row">
    <div class="col-lg-12">
    </div>
</div>
<!-- /.row -->

<div class="row text-center">

  <% @resources.each do | resource | %>
    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <%= link_to (image_tag (resource.image)), resource_path(resource), :class => "resource-home imageBoxShadow" %>

        <div class="caption">
          <h3>
            <%= link_to resource.title, resource.link %>
          </h3>

            <p>
              <%= link_to "More Info", resource_path(resource),  :class => "btn btn-primary" %>
              <%= link_to "Website", resource.link,  :class => "btn btn-primary" %>
            </p>

        </div>
      </div>
    </div>
  <% end %>
</div>
<!-- /.row -->
